{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block extra_babel %}
{% include 'blog/blog.jsx' %}
{% endblock %}


{% block content %}
<Box sx={spacingAppBarNone}>
    <Container>
        <br />
        <Box sx={boxGrow}>
            <h1>{{ page.title }}</h1>
            {% with col='{1}' %}
                <ImageList variant="default"  gap={8} sx={paddingList} cols={{col}}>
                    {% for post in page.get_children %}
                    <ImageListItem>
                        <BlogCard
                        title={"{{ post.specific.title }}"}
                        intro={"{{ post.specific.intro }}"}
                        link={"{% pageurl post %}"}
                        date={"{% if post.specific.date is not none  %}{{ post.specific.date }}{% endif %}"}
                        />
                    </ImageListItem>
                    {% endfor %}
                </ImageList>
            {% endwith %}
        </Box>
    </Container>
</Box>



{% endblock %}