{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js App" lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}

    <!-- <script src="https://unpkg.com/react@latest/umd/react.development.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@latest/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.development.js"crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/react@latest/umd/react.production.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@latest/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"crossorigin="anonymous"></script>
    <script src="https://unpkg.com/babel-standalone@latest/babel.min.js" crossorigin="anonymous"></script>
    <script type="module">
        import * as reactHelmet from 'https://cdn.skypack.dev/react-helmet';
        window.reactHelmet = reactHelmet;
        import Particles from 'https://cdn.skypack.dev/react-tsparticles';
        window.Particles = Particles;
        import PropTypes from 'https://cdn.skypack.dev/prop-types';
        window.PropTypes = PropTypes;
      </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jvcms.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" >
    
    <div id="root"></div>
    <script type="text/babel">
        const {
            colors,
            CssBaseline,
            ThemeProvider,
            Typography,
            Container,
            createTheme,
            Box,
            SvgIcon,
            Link,
            Avatar,
            Grid,
            Stack,
            Button ,
            Icon,
            Card,
            CardMedia,
            CardContent,
            CardActions,
            ImageList,
            ImageListItem,
            Paper,
            Toolbar,
            AppBar,
            Slide,
            useScrollTrigger,
            Tooltip,
            IconButton,
        } = MaterialUI;
        const { useState,useEffect } = React;
        const {Helmet } = reactHelmet;
        // Create a theme instance.
        const theme = createTheme({
            palette: {
                primary: {
                    main: '#6667ab',
                },
                secondary: {
                    main: '#ee5c6c',
                },
                error: {
                    main: colors.red.A400,
                },
            },
        });
        const breakpoints = {
            xs: 0,
            sm: 600,
            md: 960,
            lg: 1200,
            xl: 1536
        }

        var avatarSize = { width: 128, height: 128 }
        var boxGrow = { flexGrow: 1 }
        var paddingList = {'padding': '5px'}

        

        function LightBulbIcon(props) {
            return (
                <SvgIcon {...props}>
                    <path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6C7.8 12.16 7 10.63 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z" />
                </SvgIcon>
            );
        }

        function ProTip() {
            var a = { mt: 6, mb: 3 }
            var b = { mr: 1, verticalAlign: 'top' }
            return (

                <Typography sx={a} color="text.secondary">
                    <LightBulbIcon sx={b} />
                    Pro tip: See more{' '}
                    <Link href="https://mui.com/getting-started/templates/">
                        templates
                    </Link>{' '}
                    on the MUI documentation.
                </Typography>
            );
        }

        function Copyright() {
            return (
                <Typography variant="body2" color="text.secondary" align="center" component="div">
                   <ImageListItem align="center">
                    <Typography variant="body2" color="text.secondary" >
                      {'CMS con React desde CDN disponible en '} 
                    <Link color="inherit" href="https://github.com/jevillanueva/jvcms">
                      Github
                    </Link>{' - '}
                    {new Date().getFullYear()}
                    {'.'}
                    </Typography>
                  </ImageListItem>
                </Typography>
            );
        }

        function HideOnScroll(props) {
            const { children, window } = props;
            // Note that you normally won't need to set the window ref as useScrollTrigger
            // will default to window.
            // This is only being set here because the demo is in an iframe.
            const trigger = useScrollTrigger({
              target: window ? window() : undefined,
            });
          
            return (
              <Slide appear={false} direction="down" in={!trigger}>
                {children}
              </Slide>
            );
          }
        
        HideOnScroll.propTypes = {
        children: PropTypes.element.isRequired,
        window: PropTypes.func,
        };

        function App(props) {

            const particleParams = {
                fps_limit: 60,
                interactivity: {
                  detect_on: "canvas",
                  events: {
                    onclick: { enable: true, mode: "push" },
                    onhover: {
                      enable: true,
                      mode: "attract",
                      parallax: { enable: false, force: 60, smooth: 10 }
                    },
                    resize: true
                  },
                  modes: {
                    push: { quantity: 4 },
                    attract: { distance: 200, duration: 0.4, factor: 5 }
                  }
                },
                particles: {
                  color: { value: "#ccd6e6" },
                  line_linked: {
                    color: "#ccd6e6",
                    distance: 150,
                    enable: true,
                    opacity: 0.4,
                    width: 1
                  },
                  move: {
                    attract: { enable: false, rotateX: 600, rotateY: 1200 },
                    bounce: false,
                    direction: "none",
                    enable: true,
                    out_mode: "out",
                    random: false,
                    speed: 2,
                    straight: false
                  },
                  number: { density: { enable: true, value_area: 800 }, value: 80 },
                  opacity: {
                    anim: { enable: false, opacity_min: 0.1, speed: 1, sync: false },
                    random: false,
                    value: 0.5
                  },
                  shape: {
                    character: {
                      fill: false,
                      font: "Verdana",
                      style: "",
                      value: "*",
                      weight: "400"
                    },
                    image: {
                      height: 100,
                      replace_color: true,
                      src: "images/github.svg",
                      width: 100
                    },
                    polygon: { nb_sides: 5 },
                    stroke: { color: "#000000", width: 0 },
                    type: "circle"
                  },
                  size: {
                    anim: { enable: false, size_min: 0.1, speed: 40, sync: false },
                    random: true,
                    value: 5
                  }
                },
                polygon: {
                  draw: { enable: false, lineColor: "#ffffff", lineWidth: 0.5 },
                  move: { radius: 10 },
                  scale: 1,
                  type: "none",
                  url: ""
                },
                retina_detect: true
              };
            
            const getColumns = (width) => {
                if (width < breakpoints.sm) {
                    return 1
                } else if (width < breakpoints.md) {
                    return 2
                } else if (width < breakpoints.lg) {
                    return 3
                } else if (width < breakpoints.xl) {
                    return 3
                } else {
                    return 3
                }
            }
            const [columns, setColumns] = useState(getColumns(window.innerWidth))
            const updateDimensions = () => {
                setColumns(getColumns(window.innerWidth))
            }
            const resizeParticles = () => {
                setColumns(getColumns(window.innerWidth))
            }
            useEffect(() => {
                window.addEventListener("resize", updateDimensions);
                window.addEventListener("resize", resizeParticles);
                return () => window.removeEventListener("resize", updateDimensions);
            }, []);
            var spacingAppBarNone = { my: 0 }; // Spacing App Bar and Content
            var spacingAppBarFull = { my: 9 }; // Spacing App Bar and Content
            var sxAppBar = { boxShadow: 'none'};
            return (
                <div className="App">
                    <HideOnScroll {...props}>
                        <AppBar color="transparent" sx={sxAppBar}>
                          <Toolbar >
                                {% block menu %}{% endblock %}
                          </Toolbar>
                        </AppBar>
                      </HideOnScroll>
                    <Particles className="particles" params={particleParams} />
                    {% block content %}{% endblock %}
                    <Copyright/>    
                </div>
            );
        }

        ReactDOM.render(
            <ThemeProvider theme={theme}>
                <CssBaseline />
                <App />
            </ThemeProvider>,
            document.querySelector('#root'),
        );

        {% block extra_babel %}{% endblock %}
    </script>
    {% wagtailuserbar %}

    {# Global javascript #}
    <!-- <script type="text/javascript" src="{% static 'portafolio/js/sample.js' %}"></script> -->

    {% block extra_js %}{% endblock %}
</body>

</html>